<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<header th:fragment="header" class="site-header">
    <div class="container">
        <nav class="row align-items-center">
            <div class="col d-flex align-items-center logo">
                <a th:href="@{/}">Midnight Coder</a>
            </div>
            <div class="col d-flex justify-content-center">
                <ul class="nav-links">
                    <li>
                        <a th:href="@{/blogs}">Blogs</a>
                    </li>
                    <li>
                        <a th:href="@{/projects}">Project</a>
                    </li>
                </ul>
            </div>
            <div class="col d-flex justify-content-center justify-content-md-end align-items-center auth-buttons">
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-secondary">Logout</button>
                    </form>
                </div>
                <div th:unless="${#authorization.expression('isAuthenticated()')}">
                    <a th:href="@{/login}" class="btn btn-secondary">Login</a>
                    <a th:href="@{/register}" class="btn btn-primary">Sign Up</a>
                </div>
            </div>
        </nav>
    </div>
</header>
</body>
</html>